@media only screen and (max-width: 800px) {
    a {
        margin-top: -10px;
        margin-left: -10px;
        float: left;
        display: block;
        padding-bottom: 0;
    }
    .myColrow2 {
        max-width: 80%;
    }
}

.myColrow2 {
    margin-left: 50px;
    margin-top: 50px;
    height: 400px;
    background-color: white;
}

.boxHeader {
    margin-top: 20px;
    height: 60px;
    border-bottom: lightgray solid 2px;
}

.boxHeaderText {
    color: #54b096;
    padding-top: 10px;
    font-weight: 800;
}

.boxBody {
    background-color: white;
    margin-top: 25px;
}

#image {
    float: left;
    padding-right: 10px;
}


