* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.myRow1 {
    height: 80px;
    border-bottom: 1px solid darkgray;
}

.myCol1 {
    align-items: center;
}

.myRow2 {
    background-color: #f2f2f2;
    height: 600px;
}

.myRow3 {
    background-color: #636363;
    height: 100px;
    border-top: 3px solid #54b096;
    color: white;
}

.myColrow3 {
    justify-content: center;
}

.myName {
    color: white;
    justify-content: center;
    padding-top:20px;
    height: 80px;
    background-color: #54b096;
    width: 200px;
    margin-left: 50px;
    align-items: center;
    padding-left: 30px;
    font-size: 25px;
}

.copyright {
    text-align: center;
    padding-top:35px;
}

ul {
    padding: 20px 20px 0 0;
    display: flex!important;
    flex-direction: row-reverse!important;
    height: 80px;
}

li { 
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: lightgray;
}