@media only screen and (max-width: 800px) {
    * {
        display: block;
        float: left;
    }
    
    a {
            margin-top: -10px;
            margin-left: -10px;
            float: left;
            display: block;
            padding-bottom: 0;
    }

    .myColrow2 {
        max-width: 90%;
    }
    .columns {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .myRow3 {
        clear: both;
        width: 100%;
    }
}

.myColrow2, .col2row1, .col2row2, .col2row3, .col2row4  {
    margin-top: 20px;
}

.col2row1, .col2row2, .col2row3, .col2row4 {
    margin-bottom: 20px;
    background-color: white;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.myColrow2 {
    margin-bottom: 25px;
    background-color: white;
    margin-left: 25px;
}

.myRow2 {
    height: 800px;
}

.col2row1 {
    
    height: 80px;
    border-bottom: darkgray solid 2px;
}

.portfoliotag {
    color: #54b096;
    padding-top: 20px;
    font-weight: 800;
}

.col2row2, .col2row3, .col2row4 {
    height: 150px;
}

.cards {
    background-color: darkturquoise;
    width: 90%;
    height: 100%;
    padding: 0;
    float: left;
}

.card1, .card2, .card3, .card4, .card5 {
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    width: 90%;
}

.card1 {
    background-image: url('../assets/Images/chess.jpg');
}

.card2 {
    background-image: url("../assets/Images/pool.jpg");
}

.card3 {
    background-image: url("../assets/Images/dice.jpg");
}

.card4 {
    background-image: url("../assets/Images/jenga.jpg");
}

.card5 {
    background-image: url("../assets/Images/tetris.jpg");
}

.banner {
    background-color: #54b096;
    margin-top: 80px;
    margin-left: 0;
    height: 50px;
    color: white;
    padding-top: 10px;
    text-align: center;
    font-weight: 800;
}