body {
    background-color: black;
}

.picture {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 500px;
}

.slideText {
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.slideText1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

#jtbackground {
    background-color: rgb(92, 89, 89);
    color: aliceblue;
}



/*  {
    background-color: black;
} */