body {
	background-color: black;
}
.container {
	background-color: black;
}

#navbar {
	width: 100%;
	background-color: black;
}

a {
	color: #858585;
	text-shadow: .5px .5px white;
}

#name {
	text-shadow: 2px 2px white;
	margin-top: 100px;
	font-size: 78px;
	font-weight: 800;
	color: #858585;
	background-color: black;
}

#toggler {
	color: white;
}
.aboutMe {
	color: #858585;
	margin-right: 100px;
	float: right;
	width: 600px;
}
#span1 {
	margin-right: 15px;
	font-size: 30px;
	font-weight: 200;
	font-family: 'Pangolin', cursive;
}

#span2 {
	font-size: 20px;
	font-weight: 200;
	font-family: 'Sriracha', cursive;
}
#span3 {
	margin-right: 15px;
	font-size: 20px;
	font-weight: 200;
	font-family: 'Sriracha', cursive;
}
#span4 {
	font-size: 30px;
	font-weight: 200;
	font-family: 'Pangolin', cursive;
}

.footer {
	text-align: center;
	justify-content: center;
	margin-top: 300px;
	width: 100%;
	position: fixed;
	margin-bottom: 0;
}

#largeButton {
	box-shadow: 1px 1px white;
	margin-left: 200px;
	width: 25%;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/*.active,
.collapsible:hover {
	background-color: #555;
}
*/
.content {
	margin-left: 25px;
	margin-top: 15px;
	width: 500px;
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: darkgray;
}

.icons {
	height: 50px;
	width: 50px;
}

#para {
	margin-top: 10px;
}

.hireMe {
	font-size: 25px;
	font-family: 'MuseoModerno', cursive;
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 75px;
	color: #858585;
}

#hireBig {
	letter-spacing: 1.5;
	font-weight: 500;
	color: violet;
	text-shadow: .5px .5px white;
}
